*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/zhongli-genshin-impact-fanart_3840x2160_xtrafondos.com.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.panel{ 
    position: relative  ;   
}
span{
    color: white;
    padding-top: 1%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
    font-weight: 300;
    font-style: italic;
    font-size: xx-large;
    
}
.panel li{
    color: white;
    display: inline-flex;
    list-style: none;
    float: right;
    margin-top: -1%;
    margin-left: 1%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    
}
.contact{
    width: 25px;
    height: 22px;
    padding-right: 2px;
    border-radius: 10px;

}
.wave{
   position: absolute;
}
/* Cajas y sus efectos*/
.caja{
    display: inline-block;
    height: 600px;
    background: rgba(255, 100, 100, 0.452);
    border-radius: 30px;
    margin-left: 5%;
    max-height: 600px;
}


.caja:nth-child(4){
    margin-right: 5%;
}
.caja:nth-child(8){
    margin-right: 5%;
}
.caja:nth-child(12){
    margin-right: 5%;
}

.caja:hover{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1);  
}
.caja:nth-child(1){
    background-image: url("../img/dragonBall.png");
}

/*INICIANDO EDICION DE LA CAJA PRINCIPAL*/
.grid{
    max-width: 100%;
    max-height: 2400px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 29% 29% 29%;
    width: 95%;
    margin-left: 2%;
    height: 2400px;
    border: 1px solid black;
    margin-top: 250px;
    background-color: rgba(0, 0, 0, .4);
    padding-top: 30px;
}


.categories{
    text-align: center;
    font-size: 20px;
    padding: 13%;
}

/*TERMINANDO EDICION DE LA CAJA PRINCIPAL*/

/*PARA OCULTAR LAS CATEGORIAS*/

.img{
    display:none;
}

